@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");

$orange-default: #fac564;

::selection {
  background-color: $orange-default;
  color: #000;
}

//text orange global
.color-orange {
  color: $orange-default;
}

//active class navigation
.link-active {
  color: $orange-default !important;
  border: 1px solid $orange-default;
  padding: 5px;
}

//global buttons
.btn-default-orange {
  background-color: $orange-default;
  border: 1px solid $orange-default;
  color: #000;
  padding: 7px;
  transition: 0.5s ease-in;

  &:hover {
    background-color: transparent;
    color: $orange-default;
  }
}
.btn-default-white {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 7px;
  transition: 0.5s ease-in;

  &:hover {
    background-color: $orange-default;
    color: #000;
  }
}

//border-radius global
@mixin borderRadiusGlobal($property) {
  -webkit-border-radius: $property;
  -moz-border-radius: $property;
  -ms-border-radius: $property;
  -o-border-radius: $property;
  border-radius: $property;
}

//background global
.bg-black {
  background-color: #000;
}
.bg-orange {
  background-color: $orange-default;
}

//custom font
.custom-span {
  font-family: "Style Script", cursive;
}

//animation scroll
[data-scroll] {
  opacity: 0;
  transition: 0.5s ease-in;
}
[data-scroll="bottom"] {
  transform: translate3d(0, 50px, 0);
}

//js animation class
[data-scroll].animate-scroll {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}
