* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

a {
    text-decoration: none !important;
}

li {
    list-style: none;
}

html, body {
    height: 100%;
}

body {
    background-image: url('../img/bg_4.jpg');
}