.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "header header header";
}

@media screen and (max-width: 1200px) {
    .wrapper {
        grid-template-areas: 
        "header header header";
    }
}

<<<<<<< HEAD
@media screen and (max-width: 760px){
	.wrapper {
		grid-template-columns: 100%;
	}
	.wrapper {
		grid-template-areas: 
		"header"
	
	}
}

=======
>>>>>>> e9e2a37d75c8833581ea7918878e5f72f6330056
.header {
    grid-area: header;
}