.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

@media screen and (max-width: 1200px) {
  .wrapper {
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    grid-template-columns: 100%;
  }
  .wrapper {
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
